body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1599' height='1200' preserveAspectRatio='none' viewBox='0 0 1599 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2151%26quot%3b)' fill='none'%3e%3crect width='1599' height='1200' x='0' y='0' fill='rgba(153%2c 229%2c 217%2c 1)'%3e%3c/rect%3e%3cpath d='M82.76 300C82.76 245.81 17.1 254.54 0 192.54C-24.28 104.54 -58.64 37.63 0 0C91.36 -58.64 150 0 300 0C397.5 0 448.73 -58.76 495 0C566.85 91.24 495.68 160.06 536.25 300C548.18 341.16 562.64 362.2 600 362.2C663.43 362.2 730.58 358.85 737.84 300C752.92 177.75 599.95 82.75 644.68 0C681.03 -67.25 772.34 0 900 0C1050 0 1050 0 1200 0C1319.23 0 1334.47 -29.71 1438.46 0C1484.47 13.15 1466.48 85.71 1500 85.71C1537.25 85.71 1527.85 14.9 1580 0C1677.85 -27.96 1741.97 -51.97 1800 0C1851.97 46.54 1831.06 111.93 1800 197.01C1776.3 261.93 1692.75 234.88 1690.48 300C1685.72 436.37 1734.2 452.68 1785.94 600C1788.96 608.6 1799.58 602.85 1800 611.84C1806.61 752.85 1800 755.92 1800 900C1800 1050 1864.47 1114.47 1800 1200C1751.4 1264.47 1660.99 1242.25 1573.85 1200C1510.99 1169.52 1563.8 1063.08 1500 1054.55C1376.87 1038.08 1331.77 1087.3 1200 1150C1178.94 1160.02 1216.24 1196.35 1194.34 1200C1066.24 1221.35 1047.17 1200 900 1200C772.13 1200 702.24 1269.02 644.26 1200C576.24 1119.02 666.09 1041.72 648 900C643.96 868.35 624.49 853.25 600 853.25C574.4 853.25 551.76 867.2 547.83 900C530.99 1040.57 625.05 1119.4 558.46 1200C501.13 1269.4 429.23 1200 300 1200C150 1200 75 1275 0 1200C-75 1125 0 1050 0 900C0 750 0 750 0 600C0 506.25 -23.72 498.47 0 412.5C17.66 348.47 82.76 355.79 82.76 300' stroke='rgba(5%2c 15%2c 126%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M168.97 300C240.94 190.21 232.38 72 300 72C369.14 72 360.01 195.06 442.5 300C510.01 385.89 514.38 385.29 600 453.66C702.22 535.29 714.65 520.19 818.18 600C864.65 635.82 857.2 684.91 900 684.91C947.02 684.91 954.85 648.17 997.83 600C1104.85 480.04 1089.75 463.55 1200 348.65C1233.69 313.55 1285.71 323 1285.71 300C1285.71 277.74 1246.31 267.15 1200 258.14C1053.46 229.65 1009.31 296.3 900 225C811.44 167.23 804.26 80.85 804.26 0C804.26 -31.65 852.13 0 900 0C1050 0 1050 0 1200 0C1271.15 0 1290.59 -37.87 1342.31 0C1440.59 71.95 1418.03 112.32 1500 219.64C1532.59 262.32 1549.98 251.65 1571.43 300C1634.35 441.83 1594.73 467.06 1668.75 600C1709.02 672.33 1768.81 639.24 1800 710.53C1834.44 789.24 1800 805.26 1800 900C1800 1050 1840.45 1090.45 1800 1200C1785.06 1240.45 1721.26 1237.37 1689.23 1200C1592.69 1087.37 1621.19 1046.77 1542.86 900C1526.58 869.5 1531.63 856.31 1500 845.45C1360.2 797.48 1333.5 764.3 1200 782.35C1131.78 791.57 1121.62 828.85 1096.55 900C1048.04 1037.68 1118.17 1100.27 1052.83 1200C1019.89 1250.27 976.41 1200 900 1200C833.61 1200 790.5 1245.96 767.21 1200C714.5 1095.96 797.55 1031.62 748 900C713.95 809.54 675.5 755.84 600 755.84C521.06 755.84 471.97 807.04 439.13 900C393.51 1029.12 490.18 1098.44 443.08 1200C420.62 1248.44 371.54 1200 300 1200C150 1200 75 1275 0 1200C-75 1125 0 1050 0 900C0 750 0 750 0 600C0 564.85 -16.71 559.36 0 529.69C67.77 409.36 90.94 419.05 168.97 300' stroke='rgba(5%2c 15%2c 126%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M180 0C180 21.07 63.89 80.6 0 80.6C-26.11 80.6 -27.84 12.46 0 0C62.16 -27.84 180 -19.23 180 0' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1800 85.07C1771.51 85.07 1705 24.38 1705 0C1705 -18.16 1774.94 -22.44 1800 0C1822.44 20.09 1819.01 85.07 1800 85.07' stroke='rgba(5%2c 15%2c 126%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M255.17 300C255.17 259.33 276.86 222 300 222C323.65 222 348.75 259.09 348.75 300C348.75 355.44 323.53 414.71 300 414.71C276.74 414.71 255.17 355.68 255.17 300' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1200 83.72C1130.99 83.72 1036.36 22.15 1036.36 0C1036.36 -19.71 1118.18 0 1200 0C1223.07 0 1246.15 -13.63 1246.15 0C1246.15 28.23 1235.89 83.72 1200 83.72' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M475 600C475 571.82 539.94 545.12 600 545.12C643.35 545.12 681.82 571.96 681.82 600C681.82 628.62 643.59 658.44 600 658.44C540.18 658.44 475 628.48 475 600' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1160.87 600C1160.87 577.24 1172.25 564.21 1200 551.35C1341.81 485.64 1384.23 426.84 1500 442.86C1560.01 451.17 1551.56 525.13 1551.56 600C1551.56 641.2 1540.64 670.92 1500 675C1364.86 688.57 1344.42 667.23 1200 635.29C1174.85 629.73 1160.87 619.21 1160.87 600' stroke='rgba(5%2c 15%2c 126%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M176.47 900C234.1 856.77 250.66 825 300 825C327.64 825 327.49 860.16 330.43 900C341.33 1047.66 341.62 1062.67 327.69 1200C326.4 1212.67 313.85 1200 300 1200C150 1200 100 1250 0 1200C-50 1175 -34.68 1108.96 0 1050C53.55 958.96 84.1 969.27 176.47 900' stroke='rgba(5%2c 15%2c 126%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M848 900C849.13 857.18 871.69 826.42 900 826.42C931.31 826.42 965.85 854.01 967.24 900C971.51 1040.8 943.74 1055.37 911.32 1200C910.12 1205.37 905.66 1200 900 1200C895.08 1200 890.98 1204.72 890.16 1200C864.98 1054.72 844.21 1043.97 848 900' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1676.79 900C1676.79 837.86 1761.33 809.21 1800 809.21C1822.94 809.21 1800 854.61 1800 900C1800 1043.75 1829.5 1187.5 1800 1187.5C1767.9 1187.5 1676.79 1027 1676.79 900' stroke='rgba(5%2c 15%2c 126%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2151'%3e%3crect width='1599' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); /* background-color: rgb(26, 26, 104); */
  margin: auto;
 font-weight: 600;
  color: #fffefe;
  color: #131f7a;

  font-family: "Raleway", sans-serif;
  background-color: #99e5d9;
}

h1 {
  font-size: 60px;
  margin-top: 70px;
  font-family: "Lexend Deca", sans-serif;
  color: #131f7a;
}

input {
  width: 350px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  border: none;
  border-radius: 4px;
  color: #131f7a;
  background-color: #e9d3e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submit-btn {
  width: 50px;
  height: 45px;
  margin-left: 15px;
  font-size: 20px;
   font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: #e9d3e0;
  color: #131f7a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list {
  padding: 0px;
}

.list__element {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: auto;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
   font-weight: 600;
  padding: 10px;
  /* background-color: rgba(247, 240, 240, 0.19); */
  background-color: white;
  background-color: #e9d3e0;
  border-radius: 4px;
  margin-bottom: 15px;
}

p {
  margin: 0px;
  margin-right: 20px;
}

.remove {
  margin-left: 3px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA50lEQVR4nO2UrQoCQRSFv6jNV3DLRoPRZPOJ1AdQMBotFsGiBouYFUHZZPQVRBCsiqxcOMoyuuuyGvfAgcu5d74Z9mcgXkVgAFyAUL4oK5BBXUGmQE+eKetkAe6B7Yd8p95XtYFzxHfg6mRnZXcna7mwinYNM3ovxkvNH2ChbIyXSoCn409UP+0DVdl3ehOt8cR40wkYqm4ANdV1GWXWQ7OnpBcTBR6AueqNjDLr5cDPyp8hf/1sAmCseimjLEgLPAKjpAFHNmtrYmWnsFu5H7lU42wzNrtIAtpPvgZuKW4Xm1kB5SjhASXWonRz46LXAAAAAElFTkSuQmCC");
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.done {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;

  margin-right: 9px;
}
.checked {
  color: #131f7a;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-image: url('https://martadomzalska.github.io/goit-markup-hw-08/images/Vector.svg');*/
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAtElEQVR4nN3U0Q0BQRAA0CdCCU4FSvApJOqgAzQgogSa8KUHBajHjxxyCYmEO3t364NJ5m/3ZXcmM/xDdDHCODCzs8kndIEzriUzuzMveum5AvqMd97BgxroIzPjJYYR4GEMOMUax5hwiglaOMSCU0zRxC5WKdICNAi+oIdtzvf3dZq3QgObQLRUKZZ3vB+Alq7xEu0AtFLzTnUGZPCtkU6+tYTcV1/VtTnzIZIKiz73pb8TN1uW9q1l7s/LAAAAAElFTkSuQmCC");
}
.done-task {
  text-decoration: line-through;
}
